## Namespace for RXMCDA

import(kappalab,XML)

## Generics and functions defined in this package
export(
	"getNumericValue",
       "getNumberOfCriteria",
       "getCriteriaIDs",
       "getNumberOfAlternatives",
       "getAlternativesIDs",
       "getNumberOfCategories",
       "getCategoriesIDs",
       "getParameters",
       "getPerformanceTables",
       "getCriteriaComparisons",
       "getCriteriaPairsComparisons",
       "getAlternativesComparisons",
       "getCriteriaValues",
       "getCriteriaIntervalValues",
       "getCriteriaPairsValues",
       "getCriteriaPairsIntervalValues",
       "getAlternativesValues",
       "getAlternativesIntervalValues",
       "putCriteriaValues",
       "putCriteriaPairsValues",
       "putAlternativesValues",
       "putErrorMessage",
       "putLogMessage",
       "putMessage",
       "getAlternativesComparisonsLabels",
       "putCriteriaPlot",
       "putAlternativesPlot",
       "putCriterionValue",
       "checkXSD",
       "getCriteriaComparisonsLabels",
       "putAlternativeValue",
       "putAlternativesComparisonsLabels",
       "putCapacity",
       "getMobiusCapacities",
       "putPerformanceTable",
       "putPointsCriterionFunction",
       "getCategoriesValues",
       "getCategoriesIntervalValues",
       "putCategoriesValues",
       "putCategoriesIntervalValues",
       "getAlternativesAffectations",
       "putAlternativesAffectations",
       "putAlternativesAffectationsWithValues",
       "getAlternativesComparisonsValues",
       "putAlternativesIDs",
       "putCriteriaMatrix"
       )
